body .main-container {
max-width: 1500px;
}

body {
max-width: 1500px;
}

.signup
{

    border: 0;
    overflow: hidden; 
    z-index: 1;
    
    -ms-transform: scale(0.48);
    -moz-transform: scale(0.48);
    -o-transform: scale(0.48);
    -webkit-transform: scale(0.48);
    transform: scale(0.48);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.current
{

    border: 0;
    overflow: hidden; 
    z-index: -2;
    
    -ms-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -o-transform: scale(0.98);
    -webkit-transform: scale(0.98);
    transform: scale(0.98);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}